{{#prettify}}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <meta name="description" content="{{#if description}}{{ description }}{{else}}{{ pkg.description }}{{/if}}" />
  <meta name="keywords" content="{{#if keywords}}{{ keywords }}{{else}}{{join pkg.keywords ','}}{{/if}}" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" type="text/css" href="{{obj_val compiled_assets "/css/simple-cinema.css"}}">
  <title>{{#if title}}{{ title }}-{{ pkg.NAME }}{{else}}{{ pkg.NAME }}-{{ pkg.keywords }}{{/if}}</title>
</head>

<body{{#if homepage}} class="homepage"{{/if}}>
  <nav class="fixed-top{{#unless homepage}} fixed-visable{{/unless}}" id="navigation">
    <div class="container">
      <div class="row-fluid">
        <div class="span12 center">
          <a class="brand pull-left" href="/">
            <img src="/images/logo.png" alt="Treble">
          </a>
          <div class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
          <ul id="main-menu" class="nav-collapse collapse">
            <li><a href="/#page-welcome">首页</a></li>
            <li><a href="/#page-work">案例</a></li>
            <li><a href="/#page-about">企业简介</a></li>
            <li><a href="/#page-contact">联系我们</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  {{>body}}
  <div class="pages page-contact" id="page-contact">
    <div class="container">
      <header>
        <h4 class="line-divider">是时候探究一下，我们的世界能为您提供什么。</h4>
        <h1>联系我们</h1>
      </header>
      <article>
        <div class="row-fluid">
          <div class="span6 offset1">
            <a href="http://j.map.baidu.com/FobfA" target="_blank">
              <span class="image-tape bdmap" style="background-image: url('http://api.map.baidu.com/staticimage?center=113.296458,22.79917&amp;width=600&amp;height=600&amp;zoom=17&amp;markers=113.296458,22.79917&amp;markerStyles=l,A,0xff0000');">
              </span>
            </a>
          </div>
          <div class="span5">
            <h5>联系方式</h5>
            <div class="media">
              <div class="social-icons sicon-black pull-left">
                <a href="#" class="sicon-phone"><i>电话</i></a>
              </div>
              <div class="media-body smallFontBy08">
                0757－22269825
              </div>
            </div>
            <div class="media">
              <div class="social-icons sicon-black pull-left">
                <a href="#" class="sicon-place"><i>地址</i></a>
              </div>
              <div class="media-body smallFontBy08">
                广东省佛山市顺德区大良文晖路29号逸林苑33号商铺
              </div>
            </div>
            <div class="media">
              <div class="social-icons sicon-black pull-left">
                <a href="#" class="sicon-mail"><i>电邮</i></a>
              </div>
              <div class="media-body smallFontBy08">
                example@gdhydec.com
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="page-foot">
    <div class="container">
      <div class="copy">
        <span>Copyright &copy; 2014 佛山市顺德区华宇经典装饰有限公司</span>
      </div>
      <div class="copy hidden-phone">
        网站建设维护：<a href="http://www.8html.com/">8HTML</a>
        <a href="/sitemap.xml">Sitemap</a>
      </div>
    </div>
  </div>

  <!--[if lt IE 9]>
  <script src="{{obj_val compiled_assets '/js/html5shiv.js'}}"></script>
  <![endif]-->
  <script src="{{obj_val compiled_assets '/js/application.js'}}"></script>
  {{#unless production}}<script src="http://localhost:35729/livereload.js"></script>{{/unless}}
</body>

</html>
{{/prettify}}
